*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: beige;
    height: 100vh;
    
}

header{
    display: flex;
}
.logo img{
    height: 70px;
    display: none !important;
}
nav{
    padding: .5rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-content: end;
    flex-grow: 1;
    border: none;
    


}
 .nav__list{
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    top: 100%;
    left: 0;  
    background-color: inherit; 
    width: 100%;
    transition: all 200ms ease-in-out;
    padding: .5rem;
    align-items: center;

    
}

.nav__open{
    height: 10rem;
    overflow: visible;
    z-index: 10;
    visibility: visible;
    
}

.close__btn{
    display: none !important;
}

.hide{
   display: none !important;
}
.show{
    display: block !important;
}

.times{
    color: blue;
    font-size: 100px;
}

.nav__link a{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    padding: .9rem;
    width: 100%;
    transition-delay: 50ms;
    
    
}

.nav__link a:hover{
    background-color: gray;
    color: #fff;
}


@media (min-width:700px) {
     .nav__list{
        list-style: none;
        flex-direction: row;
        gap: 2rem;
        overflow: visible;
        height: auto;
        position: static;
        visibility: visible;
       
    } 
   
    .menu__btn{
        display: none;
    }

    .open__btn,.close__btn{
        display: none !important;
    }
    
    .logo img{
        display: block !important;
    }
}
.nav__link a{
display: inline;
}

.setIcon{
    /* padding: 4rem; */
    display: flex;
    align-items: center;
    margin-right: 2rem;
   
}

.searcher{
    margin: .8rem 0;
    align-self: flex-end;
    /* text-align: end; */
    position: relative;
    right: 0;
    /* padding-left: 1rem; */
    margin-left: 1rem;
    margin-right: 1rem;
   
   
   
}
.searcher__width{
    width: 200px;
    border-radius: 12px;
    height: 20px;
    padding: .8rem 1.8rem 1rem;
    background-color: inherit;
}

.searcher .icon{
    position: absolute;
    left: 172px ;
    top: 6px;
}

@media (min-width:700px) {
    .searcher{
    margin: 1.9rem 0;
}
}
section{
    padding: 0 1rem; 
    flex-grow: 1; 
    /* overflow-x:auto;  */
}




table{
    display: block;
    margin: 0 .5rem;
    border-spacing: 0;
    /* overflow: scroll; */

    
}
@media (max-width:1370px) {
    table{
        overflow: scroll;
    }
}

.table__header{
    background-color: rgb(23, 22, 22);
    color: #eee;
    padding: 2rem;
    border: 1px solid rgb(23, 22, 22);;
    border-radius: 2rem;
    /* margin-bottom: 1rem; */
}

.table__header th{
    border: none;
    margin: 0;
   font-size: 10px;
   padding: .2rem;
}

.first__header{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.last__header{
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

tr td{
    font-size: 10px;
    /* border: 4px solid transparent; */
    padding: 3px;

}

tr td .table__btn{
    padding:  .4rem;
    background-color: green;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    color: #fff;
}

tr td .input__width{
    width: 75px;
    background-color: #fff;
    border-radius: 3px ;
    text-align: center;
    border: 2px solid gray;
    position: relative;
}


.div__items{
  position: relative;  
}
.input__icon__btn{
    position: absolute;
    top: 2px;
    left: 60px;
    z-index: 10;
    font-size: 15px;
}


tr td .input__width__small{
    width: 30px;
    background-color: #fff;
    border-radius: 3px ;
    text-align: center;
    border: 2px solid gray;
}

tr td .first__row{
    width: 120px;
}



footer{
    font-size: 1rem;
    padding: 1rem;
    background-color: #fff;
}